In [3]:
import pandas as pd
import collections
import etl_idesp
import dim_gestor
import etl_gestores
import etl_saresp

from util import gera_id_gestao

pd.set_option('display.max_columns', None)

In [2]:
def aponta_diferencas(lista_escolas):
    n_escolas = len(ESCOLAS_FATO)
    exemplos_diferentes = set(ESCOLAS_FATO)
    print('Escolas da tabela fato: ', n_escolas)
    for item in lista_escolas:
        diferencas_fato = ESCOLAS_FATO.difference(item[1])
        exemplos_diferentes = exemplos_diferentes.intersection(diferencas_fato)
        print('Base: ', item[0], 
              ' escolas: ', len(item[1]), 
              ' faltam do fato: ', len(diferencas_fato)/n_escolas)

    print('Nao encontrado em nenhuma outra base: ', len(exemplos_diferentes))
    if len(exemplos_diferentes) > 5:
        exemplos_diferentes = list(exemplos_diferentes)[0:5]
    else:
        exemplos_diferentes = list(exemplos_diferentes)[0:len(diferencas_fato)]
    print('Exemplos nao encontrados: ', exemplos_diferentes)

# Construir a definicao da escola igual foi feito no dos gestores

In [4]:
saresp = etl_saresp.etl()

In [5]:
saresp.head(3)

            id_gestao  id_escola  ano_gestao  nota_saresp
0  esc-10005-ano-2014      10005        2014        247.4
1  esc-10005-ano-2015      10005        2015        250.5
2  esc-10005-ano-2016      10005        2016        245.6

# Dimensao endereco

In [6]:
arquivo = 'D:\\DESAFIO_SEDUC\\dados-VERSAO_1\\escolas_enderecos\\11_escolas_enderecos_0.csv'
with open(arquivo, encoding="utf8") as file_in:
    lines = []
    for line in file_in:
        lines.append(line)
dados_lines = []
len_lines = len(lines[0].split(','))
for line in lines[1:]:
    line = line.rstrip().split(',')
    if len(line) == len_lines:  # linhas com numero incorreto de colunas foram descartadas (1)
        dados_lines.append(line)
end = pd.DataFrame(data=dados_lines)
end.columns = lines[0].split(',')
end.head(3)

,nomedep,depadm,mun,codmun,de,CD_ESCOLA,CD_DIRETORIA,CD_DIRETORIA_ESTADUAL,CD_DIRETORIA_SUPVS_PROPR,NM_COMPLETO_ESCOLA,CD_UNIDADE,DS_ENDERECO,COMPLEMENTO,NUMERO,CD_ORIGEM_UNIDADE,CD_ORIGEM_ESCOLA,CD_ORIGEM_ENDERECO,LATITUDE,LONGITUDE
0,ESTADUAL - SE,1,SAO PAULO,100,NORTE 1,36444,10101,10101,10101,GENESIO DE ALMEIDA MOURA DOUTOR,37806,DOMINGOS AREVALO,RUA,862,37806,36444,37866,-23.447,-46.6967
1,ESTADUAL - SE,1,SAO PAULO,100,LESTE 5,1582,10205,10205,10205,DOMINGOS FAUSTINO SARMIENTO,24902,21 DE ABRIL,RUA,970,24902,1582,24962,-23.5422317000605,-46.6057931815944
2,ESTADUAL - SE,1,SAO PAULO,100,LESTE 5,2173,10205,10205,10205,JOAO BORGES PROFESSOR,24901,ITAPURA,RUA,976,24901,2173,24961,-23.5473,-46.566

In [37]:
end = end.rename({'CD_ESCOLA': 'id_escola'}, axis=1)
end.id_escola = end.id_escola.astype(int)
end = end.drop_duplicates(subset='id_escola')

In [38]:
sar_end = pd.merge(saresp, end.loc[:,['CD_DIRETORIA','id_escola']], on='id_escola',how='left')

In [39]:
sar_end.CD_DIRETORIA = sar_end.CD_DIRETORIA.fillna(0)

# Cluster

In [40]:
arquivo = 'D:\\DESAFIO_SEDUC\\dados-VERSAO_1\\cluster_de_escolas_similares\\12_MMR_Clusters.csv'
cluster = pd.read_csv(arquivo, sep=';')
cluster.CD_ESCOLA = cluster.CD_ESCOLA.astype(int)
cluster = cluster.rename({'CD_ESCOLA': 'id_escola'}, axis=1)
cluster = cluster.drop_duplicates(subset='id_escola')

In [19]:
cluster.head(3)

,CD_CLUSTERS,CD_DIRETORIA,id_escola,NR_CLUSTER,NR_CICLO,CD_GRUPO_CLUSTER,DT_ANO_LETIVO
0,26655,20509,24454,1,1,205091,2019
1,26656,20509,24466,1,1,205091,2019
2,26657,20509,24491,3,1,205091,2019

In [41]:
sar_ec = pd.merge(sar_end, cluster.loc[:,['NR_CLUSTER','id_escola']], on='id_escola',how='left')

In [42]:
sar_ec.NR_CLUSTER = sar_ec.NR_CLUSTER.fillna(0)

In [43]:
sar_ec.NR_CLUSTER = sar_ec.NR_CLUSTER.astype(int)

# Dimensao classes

In [32]:
arquivo = 'dados-VERSAO_1\matriculas\/10_Escolas_Classes_Qtde_Alunos.csv'
classes = pd.read_csv(arquivo, sep=';')

In [33]:
classes = classes.rename({'COD_ESC': 'id_escola'}, axis=1)
classes.id_escola = classes.id_escola.astype(int)

In [46]:
id_gestao = []
for i in classes.index:
    id_gestao.append(gera_id_gestao(classes.loc[i,'id_escola'], classes.loc[i,'ANO']))
classes['id_gestao'] = id_gestao

In [49]:
classes.QTDE_ALUNOS = classes.QTDE_ALUNOS.astype(int)

In [50]:
classes_dados = {}
classes_dados['id_gestao'] = []
classes_dados['num_alunos'] = []
classes_dados['num_tiposclasses'] = []

for nome, dados in classes.groupby('id_gestao'):
    classes_dados['id_gestao'].append(nome)
    classes_dados['num_alunos'].append(dados.QTDE_ALUNOS.sum())
    classes_dados['num_tiposclasses'].append(len(set(dados.TIPOCLASSE_DESC)))
classes_dados = pd.DataFrame(classes_dados)

In [55]:
classes_dados.head(3)

            id_gestao  num_alunos  num_tiposclasses
0  esc-10005-ano-2014         937                 1
1  esc-10005-ano-2015         901                 1
2  esc-10005-ano-2016         764                 1

In [56]:
sar_ecc = pd.merge(sar_ec, classes_dados, on='id_gestao',how='left')

# CARGA HORARIA

In [65]:
arquivo = 'D:\\DESAFIO_SEDUC\\dados-VERSAO_1\\carga-horria-por-docente-All-2020-04-13_1010\\BASE_CARGA_HOR_SALA_AULA_1119.csv'
hora = pd.read_csv(arquivo, sep=';')

In [66]:
hora.head(3)

,REGIAO,NOMEDE,CD_INEP,CODESC,CATESC,TPESC,UA,NOMEESC,NOMEMUN,MODAL,NOME,RG12,DI,CPF,CARGO_C,NM_CARGOC,CODMAE,DEN_CODMAE,CICLO,MATERIA,DEN_MATERIA,TOT_AULA_LIVRE,TOT_AULA_SUBST,TOT_GERAL_AULA,TOT_AULA_LIVRE_NOTURNO,TOT_AULA_SUBST_NOTURNO,TOT_AULAS_NOTURNO,JORNADA,id_interno
0,INTERIOR,D.E.REG. BAURU,35921373,921373,1,8,19742,MARIA APARECIDA MASCHIETTO OKAZAKI PROFESSORA,BAURU,EF FINAIS + EM,276873,276873,1,276873,6409,PROFESSOR EDUCACAO BASICA II,1100,LING.PORTUGUESA,CII,1100,LING.PORTUGUESA,18,0,18,0,0,0,C,276873
1,INTERIOR,D.E.REG. BAURU,35921373,921373,1,8,19742,MARIA APARECIDA MASCHIETTO OKAZAKI PROFESSORA,BAURU,EF FINAIS + EM,276873,276873,1,276873,6409,PROFESSOR EDUCACAO BASICA II,1100,LING.PORTUGUESA,EM,1111,LIN PORT LIT,8,0,8,8,0,8,C,276873
2,GDE_SP,D.E.REG. ITAQUAQUECETUBA,35007298,7298,1,8,40880,SIMON SWITZAR PADRE,POA,EF FINAIS + EM,202218,202218,2,202218,6409,PROFESSOR EDUCACAO BASICA II,1400,L. EST. INGLES,CII,1400,L. EST. INGLES,6,0,6,0,0,0,R,202218

In [67]:
hora = hora.rename({'CODESC': 'id_escola'}, axis=1)
hora.id_escola = hora.id_escola.astype(int)

In [68]:
COLUNAS_HORAS = ['TOT_AULA_LIVRE', 'TOT_AULA_SUBST', 'TOT_GERAL_AULA',
                 'TOT_AULA_LIVRE_NOTURNO', 'TOT_AULA_SUBST_NOTURNO', 
                 'TOT_AULAS_NOTURNO']

In [69]:
for col in COLUNAS_HORAS:
    hora.loc[:,col] = hora.loc[:,col].astype(int)

In [70]:
horas_aloc = {}
horas_aloc['id_escola'] = []
horas_aloc['horas_alocadas'] = []
for nome, dados in hora.groupby('id_escola'):
    horas_aloc['id_escola'].append(nome)
    total_horas = 0
    for col in COLUNAS_HORAS:
        total_horas += dados.loc[:,col].sum()
    horas_aloc['horas_alocadas'].append(total_horas)
horas_aloc = pd.DataFrame(horas_aloc)

In [74]:
sar_ecch = pd.merge(sar_ecc, horas_aloc, on='id_escola',how='left')

In [128]:
sar_ecch.head(3)

,id_gestao,id_escola,ano_gestao,nota_saresp,CD_DIRETORIA,NR_CLUSTER,num_alunos,num_tiposclasses,horas_alocadas
0,esc-10005-ano-2014,10005,2014,247.4,10702,2,937.0,1.0,2632.0
1,esc-10005-ano-2015,10005,2015,250.5,10702,2,901.0,1.0,2632.0
2,esc-10005-ano-2016,10005,2016,245.6,10702,2,764.0,1.0,2632.0

# ATRIBUICAO DIGITAL

In [84]:
arquivo = 'D:\\DESAFIO_SEDUC\\dados-VERSAO_1\\atribuicao_sem_docentes\\atribuicao_digital.csv'
atrib = pd.read_csv(arquivo, sep=',')

In [89]:
atrib = atrib.rename({'CD_ESCOLA': 'id_escola'}, axis=1)
atrib.id_escola = atrib.id_escola.astype(int)
atrib.NR_HORA_AULA_SEMANA = atrib.NR_HORA_AULA_SEMANA.astype(int)

In [90]:
atrib_dados = {}
atrib_dados['id_escola'] = []
atrib_dados['horassemana_sem_aula'] = []
for nome, dados in atrib.groupby('id_escola'):
    atrib_dados['id_escola'].append(nome)
    atrib_dados['horassemana_sem_aula'].append(dados.NR_HORA_AULA_SEMANA.sum())
atrib_dados = pd.DataFrame(atrib_dados)

In [92]:
sar_eccha = pd.merge(sar_ecch, atrib_dados, on='id_escola',how='left')

In [130]:
sar_eccha.head(3)

,id_gestao,id_escola,ano_gestao,nota_saresp,CD_DIRETORIA,NR_CLUSTER,num_alunos,num_tiposclasses,horas_alocadas,horassemana_sem_aula
0,esc-10005-ano-2014,10005,2014,247.4,10702,2,937.0,1.0,2632.0,1582.0
1,esc-10005-ano-2015,10005,2015,250.5,10702,2,901.0,1.0,2632.0,1582.0
2,esc-10005-ano-2016,10005,2016,245.6,10702,2,764.0,1.0,2632.0,1582.0

# NOTA ACUMULADA

In [107]:
dados_escola = {}
dados_escola['id_gestao'] = []
dados_escola['nota_acumulada'] = []

for nome, dados in sar_eccha.groupby('id_escola'):
    lista_anos = dados.ano_gestao.tolist()
    lista_anos = list(set(lista_anos))
    lista_anos.sort()
    nota_acumulada = 0
    accum = 0
    for ano in lista_anos:
        dados_ano = dados[dados.ano_gestao == ano]
        nota_ano = dados_ano.nota_saresp.iloc[0]
        dados_escola['id_gestao'].append(dados_ano.id_gestao.iloc[0])
        dados_escola['nota_acumulada'].append(nota_acumulada / (1 if accum == 0 else accum))
        nota_acumulada += nota_ano
        accum += 1    
dados_escola = pd.DataFrame(dados_escola)

In [109]:
sar_ecchan = pd.merge(sar_eccha, dados_escola, on='id_gestao',how='left')

In [115]:
teste_corr = sar_ecchan.drop(sar_ecchan[sar_ecchan.nota_acumulada == 0].index)

In [126]:
print('CORRELACAO EVOLUCAO: ',teste_corr.corr().loc['nota_acumulada', 'nota_saresp'])

CORRELACAO EVOLUCAO:  0.8755058495756967

# ESTATISTICAS

In [139]:
sar_ecchan.isnull().sum()

id_gestao               0
id_escola               0
ano_gestao              0
nota_saresp             0
CD_DIRETORIA            0
NR_CLUSTER              0
num_alunos              0
num_tiposclasses        0
horas_alocadas          0
horassemana_sem_aula    0
nota_acumulada          0
dtype: int64

In [138]:
sar_ecchan.num_alunos = sar_ecchan.num_alunos.fillna(sar_ecchan.num_alunos.median())
sar_ecchan.num_tiposclasses = sar_ecchan.num_tiposclasses.fillna(sar_ecchan.num_tiposclasses.median())
sar_ecchan.horas_alocadas = sar_ecchan.horas_alocadas.fillna(sar_ecchan.horas_alocadas.median())
sar_ecchan.horassemana_sem_aula = sar_ecchan.horassemana_sem_aula.fillna(sar_ecchan.horassemana_sem_aula.median())

In [145]:
saresp_est = {}
saresp_est['id_escola'] = []
saresp_est['nota_saresp'] = []
saresp_est['id_diretoria'] = []
saresp_est['nr_cluster'] = []
saresp_est['num_alunos'] = []
saresp_est['num_tiposclasses'] = []
saresp_est['horas_alocadas'] = []
saresp_est['horassemana_sem_aula'] = []
for nome, dados in sar_ecchan.groupby('id_escola'):
    saresp_est['id_escola'].append(nome)
    saresp_est['nota_saresp'].append(dados.nota_saresp.mean())
    saresp_est['id_diretoria'].append(dados.CD_DIRETORIA.iloc[0])
    saresp_est['nr_cluster'].append(dados.NR_CLUSTER.iloc[0])
    saresp_est['num_alunos'].append(dados.num_alunos.mean())
    saresp_est['num_tiposclasses'].append(dados.num_tiposclasses.mean())
    saresp_est['horas_alocadas'].append(dados.horas_alocadas.mean())
    saresp_est['horassemana_sem_aula'].append(dados.horassemana_sem_aula.mean())
saresp_est = pd.DataFrame(saresp_est)

In [148]:
saresp_est.corr()

,id_escola,nota_saresp,nr_cluster,num_alunos,num_tiposclasses,horas_alocadas,horassemana_sem_aula
id_escola,1.000000,-0.182887,-0.001180,0.012331,-0.098849,0.005287,0.002719
nota_saresp,-0.182887,1.000000,0.042086,-0.044213,-0.045944,-0.024975,-0.120687
nr_cluster,-0.001180,0.042086,1.000000,0.104554,-0.032782,0.086577,0.074896
num_alunos,0.012331,-0.044213,0.104554,1.000000,0.018284,0.891379,0.936282
num_tiposclasses,-0.098849,-0.045944,-0.032782,0.018284,1.000000,0.052495,0.084976
horas_alocadas,0.005287,-0.024975,0.086577,0.891379,0.052495,1.000000,0.925547
horassemana_sem_aula,0.002719,-0.120687,0.074896,0.936282,0.084976,0.925547,1.000000

In [151]:
por_diretoria = {}
por_diretoria['diretoria'] = []
por_diretoria['nota_saresp'] = []
for diretoria in set(saresp_est.id_diretoria):
    dir_corte = saresp_est[saresp_est.id_diretoria == diretoria]
    por_diretoria['diretoria'].append(diretoria)
    por_diretoria['nota_saresp'].append(dir_corte.nota_saresp.mean())
por_diretoria = pd.DataFrame(por_diretoria)

In [153]:
por_diretoria.describe()

       nota_saresp
count    93.000000
mean    253.685739
std      13.336674
min     221.823734
25%     244.482588
50%     255.817976
75%     263.440401
max     284.783333

In [155]:
por_diretoria[por_diretoria.nota_saresp == por_diretoria.nota_saresp.max()]

   diretoria  nota_saresp
41     20305   284.783333

In [156]:
por_diretoria[por_diretoria.nota_saresp == por_diretoria.nota_saresp.min()]

  diretoria  nota_saresp
4     10211   221.823734

In [158]:
por_cluster = {}
por_cluster['nr_cluster'] = []
por_cluster['nota_saresp'] = []
for nr_cluster in set(saresp_est.nr_cluster):
    dir_corte = saresp_est[saresp_est.nr_cluster == nr_cluster]
    por_cluster['nr_cluster'].append(nr_cluster)
    por_cluster['nota_saresp'].append(dir_corte.nota_saresp.mean())
por_cluster = pd.DataFrame(por_cluster)

In [179]:
por_cluster

   nr_cluster  nota_saresp
0           0   226.767894
1           1   250.574149
2           2   249.183212
3           3   248.886686
4           4   249.113121
5           5   245.657515
6           6   253.341034
7           7   252.833188
8           8   252.042427
9           9   262.074722

In [160]:
por_cluster[por_cluster.nota_saresp == por_cluster.nota_saresp.max()]

   nr_cluster  nota_saresp
9           9   262.074722

In [161]:
por_cluster[por_cluster.nota_saresp == por_cluster.nota_saresp.min()]

   nr_cluster  nota_saresp
0           0   226.767894

In [177]:
end[end.CD_DIRETORIA == '10211']

,nomedep,depadm,mun,codmun,de,id_escola,CD_DIRETORIA,CD_DIRETORIA_ESTADUAL,CD_DIRETORIA_SUPVS_PROPR,NM_COMPLETO_ESCOLA,CD_UNIDADE,DS_ENDERECO,COMPLEMENTO,NUMERO,CD_ORIGEM_UNIDADE,CD_ORIGEM_ESCOLA,CD_ORIGEM_ENDERECO,LATITUDE,LONGITUDE
70,ESTADUAL - SE,1,SAO PAULO,100,LESTE 3,902724,10211,10211,10211,FERNANDO MAURO PIRES DA ROCHA DEPUTADO,34434,JOSE PINTO,RUA,10,34434,902724,34494,-23.6068877975285,-46.4024754407532
71,ESTADUAL - SE,1,SAO PAULO,100,LESTE 3,904314,10211,10211,10211,GUERRA JUNQUEIRO,6410,FLORIANO ARRESTI,RUA,52,6410,904314,6470,-23.5650320083988,-46.3937535881996
72,ESTADUAL - SE,1,SAO PAULO,100,LESTE 3,923916,10211,10211,10211,MARCOS ANTONIO COSTA PROFESSOR,46944,GODOI BUENO,RUA,19,46944,923916,47004,-23.6306913800994,-46.4431632050018
115,ESTADUAL - SE,1,SAO PAULO,100,LESTE 3,438112,10211,10211,10211,SITIO CONCEICAO,177468,WILSON FERNANDO S.CARVALHO,RUA,35,177468,438112,211868,-23.5781044,-46.391658
116,ESTADUAL - SE,1,SAO PAULO,100,LESTE 3,908368,10211,10211,10211,OSWALDO GAGLIARDI,6438,RUA INACIO MONTEIRO,RUA,3206,6438,908368,6498,-23.5782,-46.3911
117,ESTADUAL - SE,1,SAO PAULO,100,LESTE 3,447663,10211,10211,10211,JARDIM SANTO ANDRE III,191334,MIGUEL FERREIRA DE MELO,RUA,50 A,191334,447663,225734,-23.6302,-46.4435
367,ESTADUAL - SE,1,SAO PAULO,100,LESTE 3,37060,10211,10211,10211,ROCCA DORDALL,37833,RUA DOUTOR RODRIGUES DE ALMEIDA,VILA BUENOS AIRES,143,37833,37060,37893,-23.5536,-46.4182
420,ESTADUAL - SE,1,SAO PAULO,100,LESTE 3,37059,10211,10211,10211,HUMBERTO DANTAS,25373,SERRA DO MAR,RUA,50,25373,37059,25433,-23.5491,-46.4157
614,ESTADUAL - SE,1,SAO PAULO,100,LESTE 3,3268,10211,10211,10211,SEBASTIAO FARIA ZIMBRES PROFESSOR,43529,QUINTA DO PACO,RUA,45,43529,3268,43589,-23.5529045572525,-46.4089329462601
615,ESTADUAL - SE,1,SAO PAULO,100,LESTE 3,43746,10211,10211,10211,FRANCISCO DE ASSIS PIRES CORREA PROFESSOR,12847,RUA SILVIANOPOLIS,ITAQUERA,20,12847,43746,12907,-23.5493820005707,-46.4336901540756
616,ESTADUAL - SE,1,SAO PAULO,100,LESTE 3,433482,10211,10211,10211,JARDIM PEDRA BRANCA,169625,BEGONIA REAL,RUA,200,169625,433482,204025,-23.5821,-46.4197
617,ESTADUAL - SE,1,SAO PAULO,100,LESTE 3,906980,10211,10211,10211,MARIA DE LOURDES ARANHA DE ASSIS PACHECO PROFE...,28275,ANGELO ANDRADE,RUA,51,28275,906980,28335,-23.5432133100968,-46.4402821600494
1060,ESTADUAL - SE,1,SAO PAULO,100,LESTE 3,922912,10211,10211,10211,COHAB INACIO MONTEIRO III,28544,IGARAPE DA BELA AURORA,RUA,435,28544,922912,28604,-23.5744123887872,-46.4000823699753
1061,ESTADUAL - SE,1,SAO PAULO,100,LESTE 3,37084,10211,10211,10211,ERNESTINA DEL BUONO TRAMA PROFESSORA,1006,FELICIANO DE MENDONCA,RUA,418,1006,37084,1066,-23.5531186,-46.3987051
1062,ESTADUAL - SE,1,SAO PAULO,100,LESTE 3,923278,10211,10211,10211,SILVANA EVANGELISTA PROFESSORA,6969,RODOLFO PIRANI,AVENIDA,392,6969,923278,7029,-23.6310976,-46.4618399
1100,ESTADUAL - SE,1,SAO PAULO,100,LESTE 3,916742,10211,10211,10211,SIMAO MATHIAS PROFESSOR,40714,RAGUEB CHOHFI,AVENIDA,4757,40714,916742,40774,-23.5947025951741,-46.4394825010971
1262,ESTADUAL - SE,1,SAO PAULO,100,LESTE 3,925412,10211,10211,10211,JARDIM LIMOEIRO III,22094,RUA GOLFO DA CALIFORNIA,RUA,8,22094,925412,22154,-23.6226187810425,-46.4142474441803
1340,ESTADUAL - SE,1,SAO PAULO,100,LESTE 3,923266,10211,10211,10211,JARDIM IGUATEMI,15919,CONFEDERACAO DOS TAMOIOS,RUA,182,15919,923266,15979,-23.5965427373781,-46.4438549116394
1341,ESTADUAL - SE,1,SAO PAULO,100,LESTE 3,48677,10211,10211,10211,INDIANA ZUYCHER SIMOES DE JESUS PROFESSORA,19106,INACIO DONATI,RUA,200,19106,48677,19166,-23.5413163,-46.4355292
1362,ESTADUAL - SE,1,SAO PAULO,100,LESTE 3,39251,10211,10211,10211,CARLOS HENRIQUE LIBERALLI PROFESSOR,19081,MARIA FERRAZ DO AMARAL DONA,RUA,128,19081,39251,19141,-23.6255264,-46.4473773
1600,ESTADUAL - SE,1,SAO PAULO,100,LESTE 3,284324,10211,10211,10211,BELIZE,105542,CAROLINA VOVO,ESTRADA,SN,105542,284324,139942,-23.5946355361701,-46.4194528859139
1601,ESTADUAL - SE,1,SAO PAULO,100,LESTE 3,44325,10211,10211,10211,SALIM FARAH MALUF PROFESSOR,12871,JARDIM TAMOIO,RUA,100,12871,44325,12931,-23.5547753772863,-46.4356004074097
1688,ESTADUAL - SE,1,SAO PAULO,100,LESTE 3,906207,10211,10211,10211,YERVANT KISSAJIKIAN,40653,PAISAGEM NOTURNA,RUA,353,40653,906207,40713,-23.5537509,-46.437833
1733,ESTADUAL - SE,1,SAO PAULO,100,LESTE 3,916785,10211,10211,10211,SERGIO ROCHA KIEHL PROFESSOR,40715,AVENIDA DOUTOR GUILHERME DE ABREU SODRE,AVENIDA,1503,40715,916785,40775,-23.5656337267105,-46.4070189969589
1734,ESTADUAL - SE,1,SAO PAULO,100,LESTE 3,909129,10211,10211,10211,SUMIE IWATA PROFESSORA,46781,RUA PROFESSORA LUCILA CERQUEIRA,RUA,100,46781,909129,46841,-23.5496,-46.4279
1746,ESTADUAL - SE,1,SAO PAULO,100,LESTE 3,906177,10211,10211,10211,CAMILO CASTELO BRANCO,15724,EDMUNDO ORIOLI,RUA,85,15724,906177,15784,-23.6013579,-46.394609
1747,ESTADUAL - SE,1,SAO PAULO,100,LESTE 3,909185,10211,10211,10211,SATURNINO PEREIRA PROFESSOR,6512,BERNARDINO ANTUNES,RUA,200,6512,909185,6572,-23.5514173599578,-46.402247822203
1764,ESTADUAL - SE,1,SAO PAULO,100,LESTE 3,922900,10211,10211,10211,JARDIM WILMA FLOR,47005,WILMA FLOR,RUA,SN,47005,922900,47065,-23.5762195,-46.3966364
1765,ESTADUAL - SE,1,SAO PAULO,100,LESTE 3,902883,10211,10211,10211,LUIZ VAZ DE CAMOES,46646,JOAO PEDRO LUNA,RUA,132,46646,902883,46706,-23.5499137462263,-46.4373708559281
1766,ESTADUAL - SE,1,SAO PAULO,100,LESTE 3,909117,10211,10211,10211,ISAAC SCHRAIBER PROFESSOR,21946,ALVARO DO PRADO,RUA,165,21946,909117,22006,-23.6266,-46.4684
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11026,ESTADUAL - SE,1,SAO PAULO,100,LESTE 3,3128,10211,10211,10211,DECIO FERRAZ ALVIM PROFESSOR DOUTOR,37378,RUA EDMUNDO DA CUNHA,RUA,95,37378,3128,37438,-23.6207,-46.4626
11332,ESTADUAL - SE,1,SAO PAULO,100,LESTE 3,48707,10211,10211,10211,FREDERICO MARIANO,31763,JERONIMO PRADO,RUA,115,31763,48707,31823,-23.5473923140324,-46.4108136865082
11333,ESTADUAL - SE,1,SAO PAULO,100,LESTE 3,914712,10211,10211,10211,SERGIO ESTANISLAU CAMARGO,6709,OTELO AUGUSTO RIBEIRO,RUA,1309,6709,914712,6769,-23.544854,-46.4099482
11375,ESTADUAL - SE,1,SAO PAULO,100,LESTE 3,904284,10211,10211,10211,FERNANDO PESSOA,34506,RUA PADRE ALDEMAR MOREIRA,RUA,200,34506,904284,34566,-23.5996981572353,-46.3995673370483
12529,ESTADUAL - SE,1,SAO PAULO,100,LESTE 3,925226,10211,10211,10211,ESTHER DE FIGUEIREDO FERRAZ,28556,PAULO GRACINDO,RUA,267,28556,925226,28616,-23.5674453436241,-46.4222504448441
12530,ESTADUAL - SE,1,SAO PAULO,100,LESTE 3,985089,10211,10211,10211,CEL JTO A EE FADLO HAIDAR,34766,MURMURIOS DA TARDE,RUA,200,34766,985089,34826,-23.5534181,-46.4440347
12907,PRIVADA,3,SAO PAULO,100,LESTE 3,102258,10211,10211,10211,PALMARINO CALABREZ COLEGIO,26067,OTELO AUGUSTO RIBEIRO,RUA,411,26067,102258,26127,-23.547105,-46.408826
12928,PRIVADA,3,SAO PAULO,100,LESTE 3,118148,10211,10211,10211,EBENEZER COLEGIO CRISTAO,2749,RUA DUARTE CORREIA,RUA,19,2749,118148,2809,-23.613883,-46.454866
12929,PRIVADA,3,SAO PAULO,100,LESTE 3,161299,10211,10211,10211,PAULISTA INSTITUICAO DE ENSINO,26791,RUA JULIO CESAR MOREIRA,RUA,1309,26791,161299,26851,-23.63175,-46.463294
13156,PRIVADA,3,SAO PAULO,100,LESTE 3,126068,10211,10211,10211,SANTA MARTA COLEGIO DE PG,26428,LEONIDAS CARDOSO GENERAL,RUA,273,26428,126068,26488,-23.545202,-46.425321
13294,PRIVADA,3,SAO PAULO,100,LESTE 3,806286,10211,10211,10211,OLIVEIRA TELLES COLEGIO UNIDADE III,6385,OTELO AUGUSTO RIBEIRO,RUA,579,6385,806286,6445,-23.5484247286771,-46.4080960171967
13400,ESTADUAL - SE,1,SAO PAULO,100,LESTE 3,904302,10211,10211,10211,AQUILINO RIBEIRO,21880,ONOFRE LEITE MEIRELLES,RUA,1,21880,904302,21940,-23.5625,-46.406
13401,ESTADUAL - SE,1,SAO PAULO,100,LESTE 3,921464,10211,10211,10211,CONJUNTO HABITACIONAL CARRAOZINHO,6802,GONCALVES DA COSTA,AVENIDA,317,6802,921464,6862,-23.6111,-46.4517
13402,ESTADUAL - SE,1,SAO PAULO,100,LESTE 3,908782,10211,10211,10211,VALENTIM CARRA PROFESSOR,21927,FRANCISCO LUSTOSA,RUA,271,21927,908782,21987,-23.616899,-46.470757
13422,ESTADUAL - SE,1,SAO PAULO,100,LESTE 3,920277,10211,10211,10211,RUY DE MELLO JUNQUEIRA,6865,METALURGICOS,AVENIDA,150,6865,920277,6925,-23.5847031,-46.4090007
14952,PRIVADA,3,SAO PAULO,100,LESTE 3,127000,10211,10211,10211,CANDIDO PORTINARI INSTITUTO EDUCACIONAL,78225,RUA SANTA EDITH,RUA,580,78225,127000,112625,-23.540465,-46.426792
16451,ESTADUAL - SE,1,SAO PAULO,100,LESTE 3,902615,10211,10211,10211,ANTONIETA DE SOUZA ALCANTARA,6258,PRANTO DE POETA,,101,6258,902615,6318,-23.6166000366211,-46.4272918701172
18528,ESTADUAL - SE,1,SAO PAULO,100,LESTE 3,36812,10211,10211,10211,PAULO SARASATE GOVERNADOR,977,INACIO PINTO LIMA,GUAIANASES,199,977,36812,1037,-23.5666710570657,-46.4072095728775
18529,ESTADUAL - SE,1,SAO PAULO,100,LESTE 3,926048,10211,10211,10211,BARRO BRANCO II,91751,RUA EDUARDO REUTER,RUA,415B,91751,926048,126151,-23.5830031,-46.3928451
18530,ESTADUAL - SE,1,SAO PAULO,100,LESTE 3,3311,10211,10211,10211,ANDRE NUNES JUNIOR,37389,SALVADOR DE PAIVA,RUA,145,37389,3311,37449,-23.6293552732611,-46.4744755932541
18531,ESTADUAL - SE,1,SAO PAULO,100,LESTE 3,910831,10211,10211,10211,GERALDINO DOS SANTOS DEPUTADO,28278,SERTANISTAS,AVENIDA,1175,28278,910831,28338,-23.6308726,-46.4463383
20486,PRIVADA,3,SAO PAULO,100,LESTE 3,170458,10211,10211,10211,AUGUSTO HELOI COLEGIO,3791,RUA INACIO MONTEIRO,RUA,7339,3791,170458,3851,-23.569815,-46.399187
22062,PRIVADA,3,SAO PAULO,100,LESTE 3,153084,10211,10211,10211,EDUCANDARIO DOS ANJOS,38979,GONCALVES DE MENDONCA,RUA,221,38979,153084,39039,-23.597325,-46.44087
22121,PRIVADA,3,SAO PAULO,100,LESTE 3,806304,10211,10211,10211,PRINCIPIO DAS ARTES COLEGIO,46715,MARCIO BECK MACHADO,RUA,109 A,46715,806304,46775,-23.580773,-46.4136
24671,ESTADUAL - SE,1,SAO PAULO,100,LESTE 3,268276,10211,10211,10211,ROQUE THEOPHILO,100636,CAVALEIRO DE JORGE,RUA,280,100636,268276,135036,-23.5809886,-46.4003142
27055,PRIVADA,3,SAO PAULO,100,LESTE 3,153096,10211,10211,10211,MAGNATA COLEGIO,3376,ABNER RIBEIRO BORGES,RUA,124,3376,153096,3436,-23.595869,-46.442291
28434,PRIVADA,3,SAO PAULO,100,LESTE 3,118163,10211,10211,10211,PRO CONHECER ESCOLA,44849,RUA MATHEUS MENDES,RUA,139,44849,118163,44909,-23.630564,-46.468456
28572,PRIVADA,3,SAO PAULO,100,LESTE 3,151737,10211,10211,10211,CRISTAO FLORIDA COLEGIO,39007,JUA MIRIM,RUA,128,39007,151737,39067,-23.58242,-46.416184
28573,PRIVADA,3,SAO PAULO,100,LESTE 3,806298,10211,10211,10211,SANTO ANDRE COLEGIO,6386,RUA MIGUEL FERREIRA DE MELO,RUA,200,6386,806298,6446,-23.629582,-46.443949
28580,PRIVADA,3,SAO PAULO,100,LESTE 3,806316,10211,10211,10211,SHALON COLEGIO,40548,AVENIDA OSVALDO DE OLIVEIRA,AVENIDA,284,40548,806316,40608,-23.542497,-46.429376

In [163]:
idesp = etl_idesp.etl()

In [174]:
idesp[idesp.id_escola == 915087]

,id_gestao,id_escola,ano_gestao,nota_ano,variacao,anterior_nulo,atual_nulo,unidades_diretoria,nome_diretoria
23650,esc-915087-ano-2014,915087,2014,3.440,39.553753,0,0,31,ITAPEVA
23651,esc-915087-ano-2015,915087,2015,4.725,37.354651,0,0,31,ITAPEVA
23652,esc-915087-ano-2016,915087,2016,6.065,28.359788,0,0,31,ITAPEVA
23653,esc-915087-ano-2017,915087,2017,4.220,-30.420445,0,0,31,ITAPEVA
23654,esc-915087-ano-2018,915087,2018,3.345,-20.734597,0,0,31,ITAPEVA