In [20]:
import pandas as pd
import datetime
import collections
import numpy as np
from matplotlib import pyplot as plt
from scipy.stats import pearsonr

from fklearn.training.imputation import imputer
from fklearn.training.transformation import ecdfer
from fklearn.training.pipeline import build_pipeline
from fklearn.training.transformation import standard_scaler
from fklearn.training.regression import xgb_regression_learner
from fklearn.training.classification import xgb_classification_learner
from fklearn.preprocessing.splitting import space_time_split_dataset
from fklearn.validation.evaluators import combined_evaluators, mean_prediction_evaluator, r2_evaluator, mse_evaluator

from sklearn import metrics

In [21]:
dados = pd.read_csv('abt_cobrancas.csv', sep = ';')

In [22]:
dados.head(10)

,liquidacao,parc_abertas,rating_cliente,rating_contrato,genero,idade,quantidade_parcelas_plano,renda_cliente
0,1,7.0,1,0,0,58.0,15.0,2850.0
1,1,6.0,1,0,0,58.0,15.0,2850.0
2,1,5.0,1,0,0,58.0,15.0,2850.0
3,1,4.0,1,0,0,58.0,15.0,2850.0
4,1,3.0,1,0,0,58.0,15.0,2850.0
5,1,2.0,1,0,0,58.0,15.0,2850.0
6,1,1.0,1,0,0,58.0,15.0,2850.0
7,1,2.0,1,0,0,60.0,10.0,2500.0
8,0,1.0,1,0,0,60.0,10.0,2500.0
9,0,1.0,2,2,0,60.0,10.0,2500.0

In [23]:
# Drop de linhas com dados desaparecidos
linhas_faltando = dados[dados.idade.isnull()].index
dados = dados.drop(linhas_faltando)
dados = dados.reset_index(drop=True)

In [24]:
# SEPARACAO ENTRE TREINO E TESTE
dados_teste = dados.sample(int(len(dados)/5), replace = False)
index_teste = dados_teste.index
dados_treino = dados.drop(index_teste)
dados_teste = dados_teste.reset_index(drop=True)
dados_treino = dados_treino.reset_index(drop=True)
print('dados:  ', len(dados), '  treino:  ', len(dados_treino), '  teste:  ', len(dados_teste))

dados:   576247   treino:   460998   teste:   115249

In [25]:
AUXILIARY = []
TARGET = ['liquidacao']
FEATURES = set(dados.columns) - set(AUXILIARY) - set(TARGET)

my_model = xgb_classification_learner(
    features=FEATURES,
    target=TARGET[0],
    prediction_column='prediction',
    extra_params={'seed': 139, 'nthread': 8},
)
my_ecdefer = ecdfer(prediction_column='prediction', ecdf_column='prediction_ecdf')
my_learner = build_pipeline(my_model, my_ecdefer)

# TREINO
(prediction_function, treinado, logs) = my_learner(dados_treino)
# TESTE
testados = prediction_function(dados_teste)

# USANDO O MODELO

In [26]:
dados_teste.head(3)

,liquidacao,parc_abertas,rating_cliente,rating_contrato,genero,idade,quantidade_parcelas_plano,renda_cliente
0,1,14.0,2,2,1,24.0,15.0,2390.0
1,1,9.0,1,0,1,80.0,10.0,1950.0
2,1,11.0,1,0,0,45.0,12.0,3000.0

In [8]:
teste_MESMO = dados_teste.drop('liquidacao', axis=1).copy()

In [27]:
teste_MESMO.head(3)

,parc_abertas,rating_cliente,rating_contrato,genero,idade,quantidade_parcelas_plano,renda_cliente
0,10.0,1,0,0,34.0,15.0,2000.0
1,5.0,1,1,0,56.0,8.0,2800.0
2,10.0,1,0,0,33.0,10.0,2300.0

In [28]:
prediction_function(teste_MESMO)

,parc_abertas,rating_cliente,rating_contrato,genero,idade,quantidade_parcelas_plano,renda_cliente,prediction,prediction_ecdf
0,10.0,1,0,0,34.0,15.0,2000.00,0.865813,672.061484
1,5.0,1,1,0,56.0,8.0,2800.00,0.846917,552.082655
2,10.0,1,0,0,33.0,10.0,2300.00,0.820121,444.750303
3,11.0,1,0,1,67.0,15.0,2000.00,0.889420,897.804329
4,10.0,1,0,1,40.0,15.0,2495.00,0.856302,604.905010
5,2.0,1,1,0,32.0,2.0,1850.00,0.819846,443.932512
6,1.0,2,2,1,50.0,10.0,4000.00,0.711246,313.862533
7,11.0,1,0,0,56.0,12.0,3450.00,0.868923,694.820802
8,7.0,1,0,1,37.0,10.0,2000.00,0.866506,676.608141
9,7.0,1,0,0,32.0,10.0,2000.00,0.857590,613.095935
10,1.0,1,0,0,68.0,6.0,2200.00,0.899377,980.080174
11,10.0,1,0,1,31.0,10.0,1500.00,0.792475,386.431178
12,3.0,1,0,1,56.0,6.0,2000.00,0.896506,963.969475
13,4.0,8,8,0,55.0,8.0,2500.00,0.057783,124.210951
14,13.0,7,7,0,56.0,15.0,2500.00,0.071876,137.926846
15,2.0,1,0,0,61.0,15.0,3700.00,0.768018,357.500466
16,7.0,1,0,1,62.0,8.0,8300.00,0.824780,459.509586
17,12.0,1,0,1,35.0,12.0,3400.00,0.750779,342.504740
18,3.0,1,0,1,35.0,4.0,1490.00,0.881945,814.604402
19,11.0,1,0,0,68.0,15.0,1100.00,0.899018,978.314440
20,8.0,1,0,0,23.0,15.0,1700.00,0.839677,516.258205
21,9.0,6,6,1,58.0,15.0,1899.00,0.132771,179.803383
22,1.0,1,0,0,63.0,6.0,1800.00,0.900362,983.670211
23,13.0,1,0,0,29.0,15.0,2200.00,0.836542,503.162704
24,10.0,1,0,0,48.0,10.0,3500.00,0.822416,451.828424
25,4.0,1,0,0,41.0,6.0,1500.00,0.897941,972.700532
26,14.0,1,0,1,78.0,15.0,2000.00,0.870873,710.324123
27,11.0,9,9,1,54.0,12.0,1900.00,0.013016,22.210509
28,7.0,9,9,1,48.0,8.0,5000.00,0.010615,14.583577
29,6.0,6,6,1,23.0,6.0,1535.00,0.054946,120.751066
...,...,...,...,...,...,...,...,...,...
115219,5.0,8,1,1,76.0,10.0,3800.00,0.549285,261.027163
115220,10.0,1,0,0,55.0,10.0,2000.00,0.867227,682.347863
115221,6.0,1,0,0,38.0,6.0,1590.00,0.860755,634.527699
115222,3.0,1,0,1,63.0,6.0,3305.00,0.884434,840.244426
115223,12.0,5,2,0,29.0,15.0,1956.00,0.283881,225.074729
115224,7.0,1,0,0,54.0,12.0,2000.00,0.890168,907.019119
115225,7.0,1,0,1,51.0,12.0,1700.00,0.886444,864.344314
115226,11.0,5,5,0,65.0,15.0,2800.00,0.106406,164.569044
115227,12.0,3,3,1,45.0,15.0,1295.00,0.143599,185.046356
115228,3.0,1,0,0,52.0,8.0,1500.79,0.887963,882.658927
115229,10.0,1,1,0,62.0,12.0,3000.00,0.826547,466.273173
115230,5.0,1,0,0,38.0,15.0,2000.00,0.856080,603.551425
115231,4.0,3,3,1,32.0,4.0,1520.00,0.238673,215.423928
115232,11.0,1,0,0,33.0,15.0,1900.00,0.868472,691.063736
115233,15.0,1,0,0,53.0,15.0,3000.00,0.801198,399.552710
115234,3.0,1,0,0,46.0,12.0,2100.00,0.854946,596.870268
115235,4.0,1,0,1,37.0,12.0,2800.00,0.853801,589.946160
115236,11.0,1,1,1,27.0,15.0,2300.00,0.738798,333.214027
115237,2.0,1,0,1,27.0,2.0,1700.00,0.862869,650.356401
115238,9.0,8,8,0,40.0,12.0,2000.00,0.031243,79.054573
115239,15.0,8,8,0,25.0,15.0,1400.00,0.011321,17.030443
115240,12.0,1,0,0,54.0,12.0,3500.00,0.825978,464.093120
115241,10.0,1,0,0,58.0,15.0,1900.00,0.886144,859.498306
115242,4.0,1,0,0,55.0,12.0,4000.00,0.861900,643.256587
115243,3.0,1,0,0,33.0,10.0,2200.00,0.866175,674.586441
115244,5.0,6,6,1,56.0,10.0,1900.00,0.127691,176.918338
115245,1.0,3,0,0,33.0,10.0,1250.00,0.715283,316.576211
115246,13.0,1,0,0,54.0,15.0,2300.00,0.877528,769.927418
115247,5.0,2,2,0,51.0,10.0,7000.00,0.678980,296.888490
115248,7.0,1,1,0,37.0,10.0,1625.00,0.787142,379.372579

# METRICAS

In [10]:
metrics.roc_auc_score(treinado.liquidacao, treinado.prediction)

0.8593336994029852

In [11]:
metrics.roc_auc_score(testados.liquidacao, testados.prediction)

0.8563085103114761

In [12]:
treinado['resultado'] = treinado.prediction.apply(lambda x: 1 if x > 0.5 else 0)

In [13]:
testados['resultado'] = testados.prediction.apply(lambda x: 1 if x > 0.5 else 0)

In [14]:
from sklearn.metrics import confusion_matrix
import seaborn as sns

In [15]:
confusion_matrix(testados.liquidacao, testados.resultado) / (25961 + 14281 + 3241 + 71802)

array([[0.22531986, 0.1209611 ],
       [0.02820835, 0.62519842]])

In [16]:
testados.loc[:,['liquidacao','prediction']].to_csv('score_recuperacao_teste.csv', index=False, sep=';')

# VISUALIZACAO DOS DADOS

In [17]:
pearsonr(dados.liquidacao, dados.rating_cliente)

(-0.6362344220160357, 0.0)

In [18]:
dados.corr().liquidacao

liquidacao                   1.000000
parc_abertas                -0.170252
rating_cliente              -0.636234
rating_contrato             -0.649325
genero                      -0.059784
idade                        0.152357
quantidade_parcelas_plano   -0.087500
renda_cliente                0.001135
Name: liquidacao, dtype: float64

In [19]:
dados.head()

,liquidacao,parc_abertas,rating_cliente,rating_contrato,genero,idade,quantidade_parcelas_plano,renda_cliente
0,1,7.0,1,0,0,58.0,15.0,2850.0
1,1,6.0,1,0,0,58.0,15.0,2850.0
2,1,5.0,1,0,0,58.0,15.0,2850.0
3,1,4.0,1,0,0,58.0,15.0,2850.0
4,1,3.0,1,0,0,58.0,15.0,2850.0